# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Poetry
poetry.lock

# Testes / coverage
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
.cover/
nosetests.xml
coverage.xml

# Ruff
.ruff_cache/

# IDEs
.idea/
.vscode/

# Build
build/
dist/
*.egg-info/

# Logs
*.log
